@model SearchViewModel

<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>@ViewData["Title"] CFPs</h2>
                <form action="@Url.Action("browse", "cfp")" method="get">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Event date in</label>
                                <select class="js-search-category form-control" name="eventdate" data-placeholder="Event date in">
                                    <option value="0">All</option>
                                    @for (var i = 0; i <= 12; i++)
                                    {
                                        var newDateTime = DateTime.Now.AddMonths(i);

                                        if (ViewContext.HttpContext.Request.Query.ContainsKey("eventdate") && ViewContext.HttpContext.Request.Query["eventdate"].ToString() == $"{@newDateTime.Year}-{@newDateTime.Month}")
                                        {
                                            <option value="@newDateTime.Year-@newDateTime.Month" selected="selected">@newDateTime.ToString("MMMM") @newDateTime.Year</option>
                                        }
                                        else
                                        {
                                            <option value="@newDateTime.Year-@newDateTime.Month">@newDateTime.ToString("MMMM") @newDateTime.Year</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" value="@Model.SearchTerm" name="searchTerm" class="form-control" placeholder="Search by keyword">
                                <button type="submit" class="btn">Search CFP</button>
                            </div>
                </form>
                @if (!string.IsNullOrWhiteSpace(Model.SearchTerm) || (!string.IsNullOrWhiteSpace(Model.EventDate) && Model.EventDate != "0"))
                {
                    <form action="@Url.Action("browse", "cfp")" method="get">
                        <input type="hidden" value="" name="searchTerm">
                        <input type="hidden" value="0" name="eventdate">
                        <button type="submit" class="btn">Clear search</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
    </div>
</div>