@using Humanizer;
@using Humanizer.Localisation;
@{
    ViewData["Title"] = "Home";
}

<!-- Top CFPs -->
<div class="top">
    <div class="container">
        <div class="row">
            @if (@Model.NewestCfp != null)
            {
                <div class="col-lg-4">
                    <h5><i class="fa fa-smile-o" aria-hidden="true"></i> @Html.ActionLink("Newest CFP", "Newest", "Cfp")</h5>
                    <div class="box clearfix">
                        <a href="@(Url.Action("details", "cfp", new { id = Model.NewestCfp.Id }))">
                            <img src="@Model.NewestCfp.EventImage" alt="Event image" style="object-fit:cover;">
                        </a>
                        <h3><a href="@(Url.Action("details", "cfp", new { id = Model.NewestCfp.Id }))">@Model.NewestCfp.EventName</a></h3>
                        <p>
                            @if (!string.IsNullOrWhiteSpace(Model.NewestCfp.EventDescription))
                            {
                                if (Model.NewestCfp.EventDescription.Length > 40)
                                {
                                    @($"{Model.NewestCfp.EventDescription?.Substring(0, 40)}...");
                                }
                                else
                                {
                                    @(Model.NewestCfp.EventDescription)
                                }
                            }
                            else
                            {
                                @("No description available...");
                            }
                        </p>
                    </div>
                </div>
            }
            @if (@Model.MostViewedCfp != null)
            {
                <div class="col-lg-4">
                    <h5><i class="fa fa-eye" aria-hidden="true"></i> Most Viewed CFP</h5>
                    <div class="box clearfix">
                        <a href="@(Url.Action("details", "cfp", new { id = Model.MostViewedCfp.Id }))">
                            <img src="@Model.MostViewedCfp.EventImage" alt="Event image" style="object-fit:cover;">
                        </a>
                        <h3><a href="@(Url.Action("details", "cfp", new { id = Model.MostViewedCfp.Id }))">@Model.MostViewedCfp.EventName</a></h3>
                        <p>
                            @if (!string.IsNullOrWhiteSpace(Model.MostViewedCfp.EventDescription))
                            {
                                if (Model.MostViewedCfp.EventDescription.Length > 40)
                                {
                                    @($"{Model.MostViewedCfp.EventDescription?.Substring(0, 40)}...");
                                }
                                else
                                {
                                    @(Model.MostViewedCfp.EventDescription)
                                }
                            }
                            else
                            {
                                @("No description available...");
                            }
                        </p>
                    </div>
                </div>
            }
            @if (@Model.RandomCfp != null)
            {
                <div class="col-lg-4">
                    <h5><i class="fa fa-random" aria-hidden="true"></i> Just Random</h5>
                    <div class="box clearfix">
                        <a href="@(Url.Action("details", "cfp", new { id = Model.RandomCfp.Id }))">
                            <img src="@Model.RandomCfp.EventImage" alt="Event image" style="object-fit:cover;">
                        </a>
                        <h3><a href="@(Url.Action("details", "cfp", new { id = Model.RandomCfp.Id }))">@Model.RandomCfp.EventName</a></h3>
                        <p>
                            @if (!string.IsNullOrWhiteSpace(Model.RandomCfp.EventDescription))
                            {
                                if (Model.RandomCfp.EventDescription.Length > 40)
                                {
                                    @($"{Model.RandomCfp.EventDescription?.Substring(0, 40)}...");
                                }
                                else
                                {
                                    @(Model.RandomCfp.EventDescription)
                                }
                            }
                            else
                            {
                                @("No description available...");
                            }
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="search" style="padding:0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="form-group">
                        <form action="@Url.Action("Browse", "Cfp")" method="get">
                            <input type="text" class="form-control" name="searchTerm" placeholder="Search by keyword">
                            <button type="submit" class="btn">Search CFP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*if (Model.CfpOfTheDay != null)
    {
         Featured CFPs
        <div class="featured">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h4>@DateTime.Now.ToString("MMMM dd, yyyy")</h4>
                        <h3>CFP of the day</h3>
                    </div>
                    <div class="col-lg-8">
                        <div class="box grid recipes">
                            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Ends in: @(((TimeSpan)Model.CfpOfTheDay.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))</div>
                            <a href="@(Url.Action("details", "cfp", new { id = Model.CfpOfTheDay.Id }))">
                                <img src="@Model.CfpOfTheDay.EventImage" alt="Event image">
                            </a>
                            <h2>
                                <a href="@(Url.Action("details", "cfp", new { id = Model.CfpOfTheDay.Id }))">@Model.CfpOfTheDay.EventName</a>@if (!string.IsNullOrWhiteSpace(Model.CfpOfTheDay.EventLocationName))
                                {
                                    @Html.Raw($"&nbsp;<small>{@Model.CfpOfTheDay.EventLocationName}</small>");
                                }
                            </h2>
                            <p>@Model.CfpOfTheDay.EventDescription</p>
                            <div class="tag">
                                <a href="#">Tech</a>
                                    <a href="#">.NET</a>
                                    <a href="#">Development</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@

<!-- List CFPs -->
<div class="list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5><i class="fa fa-clock-o" aria-hidden="true"></i>  CFPs almost closing, hurry!</h5>
            </div>
            @if (@Model.CfpList?.Length > 0)
            {
                foreach (var cfp in @Model.CfpList)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="box grid recipes">
                            <div class="by">@*<i class="fa fa-clock-o" aria-hidden="true"></i>*@Ends in: @(((TimeSpan)cfp.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))</div>
                            <a href="@(Url.Action("details", "cfp", new { id = cfp.Id }))">
                                <img src="@cfp.EventImage" alt="Event image">
                            </a>
                            <h2>
                                <a href="@(Url.Action("details", "cfp", new { id = cfp.Id }))">@cfp.EventName</a>@if (!string.IsNullOrWhiteSpace(cfp.EventLocationName))
                                {
                                    @Html.Raw($"&nbsp;<small>{@cfp.EventLocationName}</small>");
                                }
                            </h2>
                            <p>@cfp.EventDescription</p>
                            <div class="tag">
                                @*<a href="#">Awesome</a>
                                    <a href="#">Unicorns</a>
                                    <a href="#">.NET</a>*@
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-12 text-center">
                    <a href="@(Url.Action("browse", "cfp"))" class="btn btn-load">Show more</a>
                </div>
            }
            else
            {
                <div class="col-lg-12 text-center">
                    No CFPs yet! <a href="@(Url.Action("submit", "cfp"))">Submit one yourself!</a>
                </div>
            }
        </div>
    </div>
</div>