@model IndexViewModel
@using Humanizer;
@using Humanizer.Localisation;
@{
    ViewData["Title"] = "Home";
}

<!-- Top CFPs -->
<div class="top">
    <div class="container">
        <div class="row">
            @if (@Model.NewestCfp != null)
            {
                <div class="col-lg-4" id="NewestCfpContent">
                    <h5><i class="fa fa-smile-o" aria-hidden="true"></i> Newest CFP</h5>
                    <partial name="_singleCfp" model="Model.NewestCfp" />
                </div>
            }
            @if (@Model.MostViewedCfp != null)
            {
                <div class="col-lg-4" id="MostViewedCfpContent">
                   <h5><i class="fa fa-eye" aria-hidden="true"></i> Most Viewed CFP</h5>
                   <partial name="_singleCfp" model="Model.MostViewedCfp" />
                </div>
            }
            @if (@Model.RandomCfp != null)
            {
                <div class="col-lg-4" id="RandomCfpContent">
                    <h5><i class="fa fa-random" aria-hidden="true"></i> Just Random</h5>
                    <partial name="_singleCfp" model="Model.RandomCfp" />
                </div>
            }
        </div>
    </div>
</div>
<div class="search" style="padding:0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="form-group">
                        <form action="@Url.Action("Browse", "Cfp")" method="get">
                            <input type="text" class="form-control" name="searchTerm" placeholder="Search by keyword or tag">
                            <button type="submit" class="btn">Search CFP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*if (Model.CfpOfTheDay != null)
    {
         Featured CFPs
        <div class="featured">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h4>@DateTime.Now.ToString("MMMM dd, yyyy")</h4>
                        <h3>CFP of the day</h3>
                    </div>
                    <div class="col-lg-8">
                        <div class="box grid recipes">
                            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Ends in: @(((TimeSpan)Model.CfpOfTheDay.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))</div>
                            <a href="@(Url.Action("details", "cfp", new { id = Model.CfpOfTheDay.Id }))">
                                <img src="@Model.CfpOfTheDay.EventImage" alt="Event image">
                            </a>
                            <h2>
                                <a href="@(Url.Action("details", "cfp", new { id = Model.CfpOfTheDay.Id }))">@Model.CfpOfTheDay.EventName</a>@if (!string.IsNullOrWhiteSpace(Model.CfpOfTheDay.EventLocationName))
                                {
                                    @Html.Raw($"&nbsp;<small>{@Model.CfpOfTheDay.EventLocationName}</small>");
                                }
                            </h2>
                            <p>@Model.CfpOfTheDay.EventDescription</p>
                            <div class="tag">
                                <a href="#">Tech</a>
                                    <a href="#">.NET</a>
                                    <a href="#">Development</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }*@

<!-- List CFPs -->
<div class="list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5><i class="fa fa-clock-o" aria-hidden="true"></i>  CFPs almost closing, hurry!</h5>
            </div>
            @if (@Model.CfpList?.Length > 0)
            {
                foreach (var cfp in @Model.CfpList)
                {
                    var eventDate = "<i class=\"fa fa-question\"></i>";

                    if (cfp.EventStartDate != default(DateTime))
                    {
                        eventDate = @cfp.EventStartDate.ToString("MMM yyyy");
                    }
                    <div class="col-lg-4 col-sm-6">
                        <div class="box grid recipes">
                            <div class="by">@*<i class="fa fa-clock-o" aria-hidden="true"></i>*@Ends: @(((TimeSpan)cfp.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))<div class="float-right">Event: @Html.Raw(eventDate)</div></div>
                            <a href="@(Url.Action("details", "cfp", new { id = cfp.Slug }))">
                                <img src="@cfp.EventImage" alt="Event image">
                            </a>
                            <h2>
                                <a href="@(Url.Action("details", "cfp", new { id = cfp.Slug }))">@cfp.EventName</a>@if (!string.IsNullOrWhiteSpace(cfp.EventLocationName))
                                {
                                    @Html.Raw($"&nbsp;<small>{@cfp.EventLocationName}</small>");
                                }
                            </h2>
                            <p>@cfp.ShortDescription</p>
                            <div class="tag">
                                @foreach (var tag in cfp.EventTags.Split(";").Take(3))
                                {
                                    if (!string.IsNullOrWhiteSpace(tag))
                                    {
                                <a href="@Url.Action("browse", "cfp", new { searchTerm = tag })">@tag</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-12 text-center">
                    <a href="@(Url.Action("browse", "cfp"))" class="btn btn-load">Show more</a>
                </div>
            }
            else
            {
                <div class="col-lg-12 text-center">
                    No CFPs yet! <a href="@(Url.Action("submit", "cfp"))">Submit one yourself!</a>
                </div>
            }
        </div>
    </div>
</div>