@using Humanizer;
@using Humanizer.Localisation;
@{
    ViewData["Title"] = "Home";
}

  <!-- Top CFPs -->
  <div class="top">
    <div class="container">
      <div class="row">
            @if (@Model.NewestCfp != null)
            {
        <div class="col-lg-4">
          <h5>✨<!--<i class="fa fa-cutlery" aria-hidden="true"></i>--> Newest CFP</h5>
          <div class="box clearfix">
            <a href="@(Url.Action("details", "cfp", new { id = Model.NewestCfp.Id }))">
              <img src="@Model.NewestCfp.EventImage" alt="">
            </a>
            <h3><a href="@(Url.Action("details", "cfp", new { id = Model.NewestCfp.Id }))">@Model.NewestCfp.EventName</a></h3>
            <p>@($"{Model.NewestCfp.EventDescription.Substring(0, 40)}...")</p>
          </div>
        </div>
            }
            
            @if (@Model.MostViewedCfp != null)
            {
        <div class="col-lg-4">
          <h5>🕵<!--<i class="fa fa-cutlery" aria-hidden="true"></i>--> Most Viewed CFP</h5>
          <div class="box clearfix">
            <a href="@(Url.Action("details", "cfp", new { id = Model.MostViewedCfp.Id }))">
              <img src="@Model.MostViewedCfp.EventImage" alt="">
            </a>
            <h3><a href="@(Url.Action("details", "cfp", new { id = Model.MostViewedCfp.Id }))">@Model.MostViewedCfp.EventName</a></h3>
            <p>@($"{Model.MostViewedCfp.EventDescription.Substring(0, 40)}...")</p>
          </div>
        </div>
            }
            @if (@Model.RandomCfp != null)
            {
        <div class="col-lg-4">
          <h5>🔀<!--<i class="fa fa-cutlery" aria-hidden="true"></i>--> Just Random</h5>
          <div class="box clearfix">
            <a href="@(Url.Action("details", "cfp", new { id = Model.RandomCfp.Id }))">
              <img src="@Model.RandomCfp.EventImage" alt="">
            </a>
            <h3><a href="@(Url.Action("details", "cfp", new { id = Model.RandomCfp.Id }))">@Model.RandomCfp.EventName</a></h3>
            <p>@($"{Model.RandomCfp.EventDescription.Substring(0, 40)}...")</p>
          </div>
        </div>
            }
      </div>
    </div>
  </div>

  @if (Model.CfpOfTheDay != null)
  {
  <!-- Featured CFPs-->
  <div class="featured">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h4>@DateTime.Now.ToString("MMMM dd, yyyy")</h4>
          <h3>CFP of the day</h3>
        </div>
        <div class="col-lg-8">
          <div class="box grid recipes">
            <div class="by"><i class="fa fa-user" aria-hidden="true"></i> Ends in: @(((TimeSpan)Model.CfpOfTheDay.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))</div>
            <a href="@(Url.Action("details", "cfp", new { id = Model.CfpOfTheDay.Id }))">
              <img src="@Model.CfpOfTheDay.EventImage" alt="Event image">
            </a>
            <h2><a href="@(Url.Action("details", "cfp", new { id = Model.CfpOfTheDay.Id }))">@Model.CfpOfTheDay.EventName</a>@if (!string.IsNullOrWhiteSpace(Model.CfpOfTheDay.EventLocationName)) 
                    {
                        @Html.Raw($"&nbsp;<small>{@Model.CfpOfTheDay.EventLocationName}</small>");
                    }</h2>
            <p>@Model.CfpOfTheDay.EventDescription</p>
            <div class="tag">
              <a href="#">Tech</a>
              <a href="#">.NET</a>
              <a href="#">Development</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }

  <!-- List CFPs -->
  <div class="list">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <h5>🖖<!--<i class="fa fa-cutlery" aria-hidden="true"></i>-->  List CFPs</h5>
          @if (@Model.CfpList?.Length > 0)
          {
            foreach(var cfp in @Model.CfpList)
            {
              <div class="box list recipes">
                <div class="by"><i class="fa fa-clock-o" aria-hidden="true"></i> Ends in: @(((TimeSpan)cfp.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))</div>
                <a href="@(Url.Action("details", "cfp", new { id = cfp.Id }))">
                  <img src="@cfp.EventImage" alt="Event image">
                </a>
                <h2><a href="@(Url.Action("details", "cfp", new { id = cfp.Id }))">@cfp.EventName</a>@if (!string.IsNullOrWhiteSpace(cfp.EventLocationName)) 
                        {
                            @Html.Raw($"&nbsp;<small>{@cfp.EventLocationName}</small>");
                        }</h2>
                <p>@cfp.EventDescription</p>
                <div class="tag">
                  <a href="#">Awesome</a>
                  <a href="#">Unicorns</a>
                  <a href="#">.NET</a>
                </div>
              </div>
            }

                <div class="col-lg-12 text-center">
                  <a href="@(Url.Action("browse", "cfp"))" class="btn btn-load">Load More</a>
                </div>
        }
        else
        {
            <div class="col-lg-12 text-center">
              No CFPs yet! <a href="@(Url.Action("submit", "cfp"))">Submit one yourself!</a>
            </div>
        }

        </div>
      </div>
    </div>
  </div>