@model BrowseResponseViewModel
@using Humanizer
@using Humanizer.Localisation
@{
    ViewData["Title"] = "Browse";
}
@await Html.PartialAsync("_SearchBar", new SearchViewModel(Model.SearchTerm, Model.EventDate))
<!-- Page-->
<div class="list">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8 content">
                @if (!Model.CfpList.Any())
                {
                    <p>No entries to show you, for now.</p>
                }
                @foreach (var cfp in Model.CfpList)
                {
                    var eventDate = "<i class=\"fa fa-question\"></i>";

                    if (cfp.EventStartDate != default(DateTime))
                    {
                        eventDate = @cfp.EventStartDate.ToString("MMM yyyy");
                    }

                    <div class="box list recipes">
                        <div class="by"><i class="fa fa-clock-o" aria-hidden="true"></i> Ends in: @(((TimeSpan)cfp.CfpEndDate.Subtract(DateTime.Now)).Humanize(minUnit: TimeUnit.Hour))<div class="float-right">Event date: @Html.Raw(eventDate)</div></div>
                        <a href="@(Url.Action("details", "cfp", new {id = cfp.Slug}))">
                            <img src="@cfp.EventImage" alt="Event image" style="object-fit:cover;">
                        </a>
                        <h2>
                            <a href="@(Url.Action("details", "cfp", new {id = cfp.Slug}))">@cfp.EventName</a>
                            @if (!string.IsNullOrWhiteSpace(cfp.EventLocationName))
                            {
                                @Html.Raw($"&nbsp;<small>{@cfp.EventLocationName}</small>");
                            }
                        </h2>
                        <p>@cfp.ShortDescription</p>
                        <div class="tag">
                            @foreach (var tag in cfp.EventTags.Split(";"))
                            {
                                if (!string.IsNullOrWhiteSpace(tag))
                                {
                                <a href="@Url.Action("browse", "cfp", new { searchTerm = tag })">@tag</a>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-8 content">
                <div class="tab-pane active">
                    @if (Model.CurrentPage > 1)
                    {
                        @Html.ActionLink("Previous", "Browse", new { page = Model.CurrentPage - 1, searchTerm = Model.SearchTerm, eventdate = Model.EventDate }, new { @class = "btn-load pull-left" })
                    }

                    @if (Model.CfpList.Any())
                    {
                        @Html.ActionLink("Next", "Browse", new { page = Model.CurrentPage + 1, searchTerm = Model.SearchTerm, eventdate = Model.EventDate }, new { @class = "btn-load pull-right" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="/js/scripts.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
}