@{
    ViewData["Title"] = @Model.EventName + "CFP Details";
}

  <!-- CFP details-->
  <div class="recipe-detail">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <h4>CFP Closes: @Model.CfpEndDate.ToString("MMM dd, yyyy")</h4>
          <h1>@Model.EventName</h1>
          <div class="by"><i class="fa fa-user" aria-hidden="true"></i> @Model.SubmittedByName</div>
        </div>
        <div class="col-lg-8">

          <img src="images/recipe1.jpg" alt="">

          <div class="info">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <p>Location:</p>
                <p><strong><i class="fa fa-map-marker" aria-hidden="true"></i> @Model.EventLocationName</strong>
                </p>
              </div>
              <div class="col-lg-4 col-sm-4">
                <p>Event dates:</p>
                <p><strong><i class="fa fa-clock-o" aria-hidden="true"></i> @Model.EventStartDate.ToShortDateString() - @Model.EventEndDate.ToShortDateString()</strong>
                </p>
              </div>
              <div class="col-lg-4 col-sm-4">
                <p>Added:</p>
                <p><strong><i class="fa fa-clock-o" aria-hidden="true"></i> @Model.CfpAdded.ToShortDateString()</strong>
                </p>
              </div>
            </div>
          </div>
                
          <p>@Model.EventDescription</p>

          <div class="tag">
            <a href="#">.NET</a>
            <a href="#">Development</a>
            <a href="#">Azure</a>
          </div>
        </div>
      </div>
    </div>
  </div>