@model Cfp
@using Humanizer
@using Humanizer.Localisation
@{
    ViewData["Title"] = @Model.EventName + " event CFP Details";

    var cfpUrl = string.IsNullOrWhiteSpace(Model.CfpUrl) ? Model.EventUrl : Model.CfpUrl;
    cfpUrl = Url.Action("OutgoingCfpLink", "Cfp", new { id = Model.Id, url = cfpUrl });

    var cfpClosed = DateTime.UtcNow > Model.CfpEndDate;
    var cfpHasEventDates = Model.EventStartDate != default(DateTime) || Model.EventEndDate != default(DateTime);
}
<!-- CFP details-->
<div class="recipe-detail">
    <div class="container">
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-lg-12">
                <div class="row">
                <div class="col-lg-4 text-center">
                @*<div class="float-left">*@
                    <div class="addthis_inline_share_toolbox"></div>
                    <small id="shareButtons" class="form-text text-muted">Share this CFP</small>
                </div>
                <div class="col-lg-4 text-center">
                @if (cfpHasEventDates)
                {
                <div title="Add event to Calendar" class="addeventatc">
                    Add event to Calendar
                    <span class="start">@Model.EventStartDate.ToString("MM/dd/yyyy")</span>
                    <span class="end">@Model.EventEndDate.ToString("MM/dd/yyyy")</span>
                    <span class="timezone">@Model.EventTimezone</span>
                    <span class="title">@Model.EventName</span>
                    <span class="description">@Html.Raw(@Model.EventDescription?.Replace("\n", "<br />"))</span>
                    <span class="location">@Model.EventLocationName</span>
                    <span class="all_day_event">true</span>
                    <span class="date_format">MM/DD/YYYY</span>
                </div>
                }
                </div>
                @if (!cfpClosed)
                {<div class="col-lg-4 text-center">
                    <a href="@cfpUrl" target="_blank" class="btn btn-lg " style="background-color: #DD3326;color: white;">Go to CFP <i class="fa fa-external-link"></i></a>
                </div>
                }
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h4>@Model.EventName</h4>
                @if (!cfpClosed)
                {
                    <h1>CFP Closes: @Model.CfpEndDate.ToString("MMM dd, yyyy")</h1>
                }
                else
                {
                    <h1 id="closed-header" style="color:#D04937;">Sorry, CFP closed on @Model.CfpEndDate.ToString("MMM dd, yyyy")</h1>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SubmittedByName))
                {
                    <div class="by"><i class="fa fa-user" aria-hidden="true"></i> @Model.SubmittedByName</div>
                }
            </div>
            <div class="col-lg-8 text-center">
                <img src="@Model.EventImage" class="img-fluid" style="max-width: 100%; max-height: 300px;object-fit: cover;" alt="Event image">
                <div class="info">
                    <div class="row">
                        <div class="col-lg-3 col-sm-3">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Event Location:</p>
                            <p>
                                @if (Model.EventLocationLat != 0 && Model.EventLocationLng != 0)
                                {
                                <strong><a href="http://www.google.com/maps/place/@Model.EventLocationLat,@Model.EventLocationLng" target="_blank">@Model.EventLocationName</a></strong>
                                }
                                else
                                {
                                <strong>@Model.EventLocationName</strong>
                                }
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> Event date(s):</p>
                            <p>
                                <strong>
                                    @if (@Model.EventStartDate.Date == @Model.EventEndDate.Date && @Model.EventStartDate != default(DateTime) && @Model.EventEndDate != default(DateTime))
                                    {
                                        @Model.EventStartDate.ToShortDateString()
                                    }
                                    else if (@Model.EventStartDate != default(DateTime) && @Model.EventEndDate != default(DateTime))
                                    {
                                        @Model.EventStartDate.ToString("MMM dd") @:- @Model.EventEndDate.ToString("MMM dd")<br />
                                        @Model.EventEndDate.ToString("yyyy")
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrWhiteSpace(Model.EventUrl))
                                        {
                                            @Html.Raw($"<a href=\"{Model.EventUrl}\" target=\"_blank\">See website</a>");
                                        }
                                        else
                                        {
                                            @($"See website");
                                        }
                                    }
                            </strong>
                        </p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><i class="fa fa-home"></i> Accommodation:</p>
                        <p>
                            <strong>@Model.ProvidesAccommodation</strong>
                        </p>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <p><i class="fa fa-plane"></i> Travel assistance:</p>
                        <p>
                            <strong>@Model.ProvidesTravelAssistance</strong>
                        </p>
                    </div>
                </div>
            </div>

            <p>@Html.Raw(Model.EventDescription?.Replace("\n", "<br />"))</p>
            <div class="tag" style="margin-bottom: 50px;">
                @foreach (var tag in Model.EventTags.Split(";"))
                {
                    if (!string.IsNullOrWhiteSpace(tag))
                    {
                <a href="@Url.Action("browse", "cfp", new { searchTerm = tag })">@tag</a>
                    }
                }
            </div>

            <div class="nutrition-facts clearfix">
            <h3>About...</h3>
                @if (!string.IsNullOrWhiteSpace(Model.EventUrl))
                {
                <div>
                    <p>Website:</p>
                    <p>
                        <strong><a href="@Url.Action("OutgoingCfpLink", "Cfp", new { id = Model.Id, url = Model.EventUrl })" target="_blank">Click here <i class="fa fa-external-link"></i></a></strong>
                    </p>
                </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.EventTwitterHandle))
                {
                <div>
                    <p>Twitter:</p>
                    <p>
                        <strong><a href="https://twitter.com/@Model.EventTwitterHandle" target="_blank">@Model.EventTwitterHandle  <i class="fa fa-external-link"></i></a></strong>
                    </p>
                </div>
                }
                <div>
                    <p>CFP added:</p>
                    <p>
                        <strong>@Model.CfpAdded.Humanize()</strong>
                    </p>
                </div>
                <div>
                    <p>Viewed:</p>
                    <p>
                        <strong>@Model.Views times</strong>
                    </p>
                </div>
                <div>
                    <p>CFP clicked:</p>
                    <p>
                        <strong>@Model.ClicksToCfpUrl times</strong>
                    </p>
                </div>
            </div>

            @*<div class="nutrition-facts clearfix">
            <h3>CFP</h3>
                <div>
                    <p>CFP added:</p>
                    <p>
                        <strong>@Model.CfpAdded.Humanize()</strong>
                    </p>
                </div>
                <div>
                    <p>Viewed:</p>
                    <p>
                        <strong>@Model.Views times</strong>
                    </p>
                </div>
                <div>
                    <p>CFP clicked:</p>
                    <p>
                        <strong>@Model.ClicksToCfpUrl times</strong>
                    </p>
                </div>
                @if (cfpHasEventDates)
                {
                <div>&nbsp;</div>
                <div title="Add event to Calendar" class="addeventatc">
                    Add event to Calendar
                    <span class="start">@Model.EventStartDate.ToString("MM/dd/yyyy")</span>
                    <span class="end">@Model.EventEndDate.ToString("MM/dd/yyyy")</span>
                    <span class="timezone">@Model.EventTimezone</span>
                    <span class="title">@Model.EventName</span>
                    <span class="description">@Html.Raw(@Model.EventDescription?.Replace("\n", "<br />"))</span>
                    <span class="location">@Model.EventLocationName</span>
                    <span class="all_day_event">true</span>
                    <span class="date_format">MM/DD/YYYY</span>
                </div>
                }
            </div>*@
               
            <div class="blog-comment">
            @if (!cfpClosed)
            {
                <div class="alert alert-success" role="alert" id="issue-success" style="display: none;">
                    Your issue was sent succesfully! If needed, we will get back to you shortly and/or correct the issue.<br />
                    Thank you for your attention to detail!
                </div>

               <div class="alert alert-danger" role="alert" id="issue-error" style="display: none;">
                    There was an error sending your issue. Please check all the fields carefully and try again.
                </div>
                    
                <div class="reply" id="issue-form">
                  <h3>Report issue</h3>
                    <p class="comment-form-comment">
                      <textarea class="form-control" placeholder="For example: close date is wrong, URL is missing, etc." id="comment" name="comment" cols="45" rows="5" required="required" aria-required="true"></textarea>
                    </p>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="comment-form-author">
                          <label for="author">Name <span class="required">*</span>
                          </label>
                          <input class="form-control" id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required="true" required="required">
                        </p>
                      </div>
                      <div class="col-md-6">
                        <p class="comment-form-email">
                          <label for="email">Email <span class="required">*</span>
                          </label>
                          <input class="form-control" id="email" name="email" type="text" value="" size="30" maxlength="100" aria-required="true" required="required">
                        </p>
                      </div>
                    </div>
                    <p class="form-submit">
                        <i class="fa fa-spinner fa-spin" id="sendIssueSpinner" style="font-size: 24px;display: none;"></i>
                        <input class="btn btn-submit btn-block" name="submit" type="submit" id="submit" value="Send issue" onclick="javascript:ReportIssue();">
                    </p>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    Report issue is closed because the CFP date is due.
                </div>
            }
          </div>
        </div>
    </div>
</div>
</div>
@section Scripts {
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ad705ab67da4ff7"></script>
    <script type="text/javascript" src="/js/custom.js"></script>

    <script type="text/javascript">
    var issue = {};
    issue.cfpId = '@Model.Id';
    issue.name = null;
    issue.emailAddress = null;
    issue.description = null;

    function ReportIssue()
    {
        $('#issue-error').hide();
        $('#submit').hide();
        $('#sendIssueSpinner').show();

        issue.name = $('#author').val();
        issue.emailAddress = $('#email').val();
        issue.description = $('#comment').val();

        //  TODO: check empty fields
        if (issue.name === '' || issue.emailAddress === '' || issue.description === '' || !validateEmail(issue.emailAddress))
        {
            $('#submit').show();
            $('#sendIssueSpinner').hide();
            $('#issue-error').show();
            return;
        }

        $.ajax({
            type: "POST",
            url: "/cfp/sendreportissue",
            data: {issue},
            success: function() {
                $('#issue-form').hide();
                $('#issue-success').show();
            },
            error: function() {
                // TODO: Show error message
                $('#submit').show();
                $('#sendIssueSpinner').hide();
                $('#issue-error').show();
            }
        });
    }
    </script>
}

@section SharingMetaTags
{
    <!-- Search Engine -->
    <meta name="description" content="@Model.EventName CFP, close date: @Model.CfpEndDate.ToString("MMM dd, yyyy")">
    <meta name="image" content="@Model.EventImage">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="@Model.EventName on CFP Exchange">
    <meta itemprop="description" content="@Model.EventDescription">
    <meta itemprop="image" content="@Model.EventImage">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@Model.EventName on CFP Exchange">
    <meta name="twitter:description" content="@Model.EventDescription">
    <meta name="twitter:site" content="@@cfp_exchange">
    <!-- Maximum dimension: 1024px x 512px; minimum dimension: 440px x 220px -->
    <meta name="twitter:image:src" content="@Model.EventImage">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="@Model.EventName on CFP Exchange">
    <meta name="og:description" content="@Model.EventDescription">
    <!-- Recommended dimension: 1200px x 630px; minimum dimension: 600px x 315px -->
    <meta name="og:image" content="@Model.EventImage">
    <meta name="og:site_name" content="CFP Exchange">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
}

@section HeadScripts
{
    <!-- AddEvent script -->
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
}

@if (cfpClosed)
{
    @section Styles
    {
        <style>
            @@keyframes toGray {
                0% {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                }

                25% {
                    -webkit-filter: grayscale(25%);
                    filter: grayscale(25%);
                }

                50% {
                    -webkit-filter: grayscale(50%);
                    filter: grayscale(50%);
                }

                75% {
                    -webkit-filter: grayscale(75%);
                    filter: grayscale(75%);
                }

                100% {
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }

            .recipe-detail :not(#closed-header) {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                animation: toGray 3s;
            }
        </style>
    }
}